<div class="col  my-2">
  <div class="card">
    <img src="{{memeberImage}}" class="card-img-top" alt="...">
    <div class="card-body">

      <h5 class="card-title">{{memeberName}}</h5>
      <blockquote class="blockquote mb-0">

        <footer class="blockquote-footer"><cite>{{memeberRole}}</cite></footer>
      </blockquote>
      <p class="card-text">{{memeberOverView}}
      </p>



    </div>
    <div class="card-footer d-flex justify-content-center align-items-center text-light fs-4">
      <i class="bi bi-facebook mx-1"></i>
      <i class="bi bi-linkedin mx-1"></i>
      <i class="bi bi-google mx-1"></i>
    </div>
  </div>
</div>