<div class="animation-container">



  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <h2 class="title sec" data-text="SEC">SEC</h2>
      <h2 class="title vol" data-text="VOL">VOL</h2>

      <!-- <h2 class="title" data-text="SECVOl">SECVOl</h2> -->

    </div>
    <div class=" col-12 p-0 d-flex justify-content-center align-items-center">
      <p class="slogan fs-6  text-center">T A K E &nbsp; &nbsp; Y O U R&nbsp; &nbsp;F I R S T&nbsp; &nbsp;T I C K E
        T&nbsp; &nbsp;T O &nbsp; &nbsp;T H E &nbsp; &nbsp;I N F I N I TE &nbsp; &nbsp;S E C U R I T Y</p>
    </div>
  </div>
</div>