.projects-container {

  position: relative;
  height: auto !important;
  min-height: 50vh;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  height: 100px;
  object-fit: cover;
}