<div class="projects-container p-5 ">
  <h1 class="text-light fs-1 text-left my-4 text-uppercase">Our Clients</h1>
  <swiper-container init="false" class="mySwiper" navigation="true">
    <swiper-slide>
      <div class="d-flex justify-content-center align-items-center p-5 bg-light rounded"><img
          src="assets/images/projects/companies-icon1.png"></div>
    </swiper-slide>
    <swiper-slide>
      <div class="d-flex justify-content-center align-items-center p-5 bg-light rounded">
        <img src="assets/images/projects/companies-icon2.png">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="d-flex justify-content-center align-items-center p-5 bg-light rounded">
        <img src="assets/images/projects/companies-icon3.png">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="d-flex justify-content-center align-items-center p-5 bg-light rounded">
        <img src="assets/images/projects/companies-icon4.png">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="d-flex justify-content-center align-items-center p-5 bg-light rounded">
        <img src="assets/images/projects/companies-icon5.png">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="d-flex justify-content-center align-items-center p-5 bg-light rounded">
        <img src="assets/images/projects/companies-icon6.png">
      </div>
    </swiper-slide>

  </swiper-container>
</div>