strong {
  color: rgb(209, 14, 14);
}

.overview-container {
  height: auto !important;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overview-container .row {
  height: 100% !important;
}

.text-justify {
  text-align: justify;
  line-height: 2;
}

img {

  width: 0;
  animation: slide_pic .5s linear forwards;
  animation-timeline: view();

}

.text {

  opacity: 0;
  animation: slide_text .5s linear forwards;
  animation-timeline: view();

}

@keyframes slide_text {

  0%,
  10% {
    opacity: 0;
  }




  90%,
  100% {
    opacity: 1;
  }
}

@keyframes slide_pic {


  0%,
  10%,
  50% {

    width: 0;
  }

  70%,
  90%,
  100% {
    width: 100%;
    max-width: 500px;
    max-width: 500px;
  }
}