<div class="overview-container">
  <div class="row justify-content-center align-items-center ">
    <div
      class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12  d-flex justify-content-center align-items-start flex-column p-5 text">

      <h1 class="text-light fs-1 text-left my-4 text-uppercase">Who we are ?</h1>
      <p class="text-light text-uppercase text-justify">SECVOL is a leading cybersecurity team specializing in
        penetration testing
        across web and
        mobile
        applications, OSINT, infrastructure, networks, and credentials hunting. We identify and neutralize security
        vulnerabilities before they can be exploited, helping businesses stay secure.</p>

      <h1 class="text-light fs-1 text-left my-4 text-uppercase">Why Us?</h1>
      <ul class="text-light lh-lg ">
        <li class=""><strong>Expertise:</strong> Our seasoned professionals
          deliver
          thorough,
          targeted
          security assessments.</li>
        <li class=""><strong>Comprehensive:</strong> We cover all attack
          vectors for
          complete protection.
        </li>
        <li class=""><strong>Customized:</strong> Tailored solutions to fit your unique
          security needs.
        </li>
      </ul>

    </div>

    <div
      class="col-xxl-6 col-xl-6 col-lg-6 col-md-12  col-sm-12 col-12 d-flex justify-content-center align-items-end p-5   img-c">
      <img src="assets/images/overview.jpg" alt="My Image" class="img-fluid rounded ">
    </div>
  </div>
</div>