<div class="overview-container">
  <div class="row justify-content-center align-items-center ">
    <div
      class="col-xxl-8 col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12  d-flex justify-content-center align-items-start flex-column p-5 text">

      <h1 class="text-light fs-1 text-left my-4 text-uppercase">Who we are ?</h1>

      <p class="text-light text-uppercase text-justify">SECVOL is a leading cybersecurity team specializing in
        penetration testing
        across web and
        mobile
        applications, OSINT, infrastructure, networks, and credentials hunting. We identify and neutralize security
        vulnerabilities before they can be exploited, helping businesses stay secure.</p>

      <h1 class="text-light fs-1  my-4 text-uppercase">Why Us?</h1>

      <p class="text-light"><strong>Expertise:</strong> Our seasoned professionals
        deliver
        thorough,
        targeted
        security assessments.</p>
      <p class="text-light"><strong>Comprehensive:</strong> We cover all attack
        vectors for
        complete protection.
      </p>
      <p class="text-light"><strong>Customized:</strong> Tailored solutions to fit your unique
        security needs.
      </p>


    </div>

    <div
      class="col-xxl-4 col-xl-4 col-lg-6 col-md-12  col-sm-12 col-12 d-flex justify-content-center align-items-center  ">
      <img src="assets/images/overview.jpg" alt="My Image" class="img-fluid rounded d-block">
    </div>
  </div>
</div>